node-red/node-red.json
[
    {
        "id": "123a360bc5d352e1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e8652f26d1bbb9e",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "Solar_Panel",
        "topic": "Solar_Panel",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "df041bdf2e44ddaa",
                "69710f0cc12c0e02",
                "dbbab9f0f72b0075"
            ]
        ]
    },
    {
        "id": "df041bdf2e44ddaa",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "dbbab9f0f72b0075",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 2,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Voltage_Guage",
        "label": "Volt",
        "format": "{{value }}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "69710f0cc12c0e02",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 4,
        "width": 5,
        "height": 6,
        "label": "Voltage_Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 380,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8c96463b290d08c0",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Sound_Sensor",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "0c5143706a110503",
                "16b3499df76b4184"
            ]
        ]
    },
    {
        "id": "b23d44c37863cfa6",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Soil_Moisture",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "c3d4cb33a06fa151",
                "1d88c5e50990686b",
                "4e814bd0a72e6f74"
            ]
        ]
    },
    {
        "id": "2b5a4941c9692781",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Gas_Sensor",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "cae9b502e91315c5",
                "43f7b971db67b7ab",
                "cc41a3082187c5d8"
            ]
        ]
    },
    {
        "id": "6751108526b88089",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Temp_Dht",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "4b70520c9f2ee205",
                "040201b2b752e23c",
                "c7f80c9b535fedbd"
            ]
        ]
    },
    {
        "id": "0c5143706a110503",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "cae9b502e91315c5",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 20,
        "wires": []
    },
    {
        "id": "c3d4cb33a06fa151",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "a4a2ae8455156a4c",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Humd_Dht",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "4b70520c9f2ee205",
                "77338cacb141ba29",
                "cb8ad849e948dae6"
            ]
        ]
    },
    {
        "id": "4b70520c9f2ee205",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 580,
        "wires": []
    },
    {
        "id": "793a2390137a6288",
        "type": "ui_text",
        "z": "123a360bc5d352e1",
        "group": "853d462e4b4b769e",
        "order": 86,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 20,
        "wires": []
    },
    {
        "id": "16b3499df76b4184",
        "type": "ui_audio",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "voice": "",
        "always": "",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "1d88c5e50990686b",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 37,
        "width": 7,
        "height": 7,
        "gtype": "wave",
        "title": "Water_In_Soil",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 620,
        "wires": []
    },
    {
        "id": "4e814bd0a72e6f74",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 64,
        "width": 7,
        "height": 7,
        "label": "Water_in_Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 480,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "43f7b971db67b7ab",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 6,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Gas ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "cc41a3082187c5d8",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 8,
        "width": 7,
        "height": 6,
        "label": "Gas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1230,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f80c9b535fedbd",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 35,
        "width": 6,
        "height": 7,
        "gtype": "wave",
        "title": "Temp_Level",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "040201b2b752e23c",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 66,
        "width": 5,
        "height": 7,
        "label": "Temp_Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "77338cacb141ba29",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 31,
        "width": 7,
        "height": 7,
        "gtype": "wave",
        "title": "Humd_Guage",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "cb8ad849e948dae6",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 33,
        "width": 5,
        "height": 7,
        "label": "Humd_Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b81584cb10208371",
        "type": "mqtt in",
        "z": "123a360bc5d352e1",
        "name": "",
        "topic": "Ultrasonic",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "013c7bb04327f6b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "dcc54d1448b736b3",
                "efdccec9275cecf5",
                "7d6c4183794caa70",
                "79f56586e6662e39"
            ]
        ]
    },
    {
        "id": "dcc54d1448b736b3",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "efdccec9275cecf5",
        "type": "function",
        "z": "123a360bc5d352e1",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 20,
        "wires": [
            [
                "793a2390137a6288"
            ]
        ]
    },
    {
        "id": "7d6c4183794caa70",
        "type": "ui_gauge",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 87,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank_Level",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "79f56586e6662e39",
        "type": "ui_chart",
        "z": "123a360bc5d352e1",
        "name": "",
        "group": "853d462e4b4b769e",
        "order": 88,
        "width": 0,
        "height": 0,
        "label": "Tank_Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e624af135690c59c",
        "type": "debug",
        "z": "123a360bc5d352e1",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ac12f187671c003",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c7686a9ca783e6e",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "138ae41999f62e01",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "87af473f3a6ab48c",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "827c97092feecaae",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e71cbf025635351",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "022af38a340d62e6",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b149602f90affb58",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "76907e698e51cad0",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "694e0b5cd4fe80e4",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "a4c0e94cda466998",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "21707f91b60ea4ef",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "8dc75fc13a921a03",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "2836b36336799875",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "c8ce1e3417d6c5ef",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a2c9c4cee83ab76",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9771851906045bb",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ee19f19d670e0ec",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "8efac2a26b8787ce",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "8c48ae15146cc24f",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8de24d8daba5d13",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "d62996ef8b0a6d50",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "9d3f4136e9b85637",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "67048501e6683ea1",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "1321994b726d589b",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 29,
        "width": 30,
        "height": 1
    },
    {
        "id": "3e09338d5cf8e72c",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "5dd7ed2522ee6986",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "20c0d4d728f688d0",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2c473218723a177",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9ded63ac270bb61",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8b397a810342b65",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "345e4263b79e6bf1",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5fa71fd4e5b3c86",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "df05848585f78ce0",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "214ab14dd5e6f06d",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "3377da65a1670388",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "20a0df27b458e7a5",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "a92133283a7959b3",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "03fecc40f3f63311",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "7482a79d622a533c",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "0cdea133e3153c80",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "72abba6bdd216558",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "b90681ec690378ff",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 51,
        "width": 2,
        "height": 1
    },
    {
        "id": "b4bb5a5af9135bc0",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "7596c1a6fe81c50f",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d7cf8bb133f6ed8",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "502ef3cf3186ad4a",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 55,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd8261e53e44c0be",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "caf5d05091ee1a7c",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "1801b9d12b5f8dff",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a1bdc3a5e06a0ac",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 59,
        "width": 2,
        "height": 1
    },
    {
        "id": "1aeea75293a9033f",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 60,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e92aaccd376aceb",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "d11cfee6e8842979",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 62,
        "width": 30,
        "height": 1
    },
    {
        "id": "9ae0aeb7218fdb35",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "8870da7c0f06b411",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 65,
        "width": 2,
        "height": 1
    },
    {
        "id": "346985e720170bfe",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 67,
        "width": 15,
        "height": 1
    },
    {
        "id": "4fa12c76081d467d",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 68,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ad2bc37d9dc2682",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 69,
        "width": 2,
        "height": 1
    },
    {
        "id": "e619f42581efa56e",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 70,
        "width": 15,
        "height": 1
    },
    {
        "id": "bbde48ae18a8643a",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 71,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ecea4b721613df8",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 72,
        "width": 2,
        "height": 1
    },
    {
        "id": "8aca5c50f6fde800",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 73,
        "width": 15,
        "height": 1
    },
    {
        "id": "19874d11fe2f0e2a",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 74,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a5834c916b3cb92",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 75,
        "width": 2,
        "height": 1
    },
    {
        "id": "151b3a4f136b90d7",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 76,
        "width": 15,
        "height": 1
    },
    {
        "id": "18ce37a6f521cf38",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 77,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b0a2073c70b178a",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 78,
        "width": 2,
        "height": 1
    },
    {
        "id": "31347799e9e8cb0e",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 79,
        "width": 15,
        "height": 1
    },
    {
        "id": "8d0e8f4aaa28eb9c",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 80,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d06ba47568ca679",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 81,
        "width": 2,
        "height": 1
    },
    {
        "id": "4932587d7232feb3",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 82,
        "width": 15,
        "height": 1
    },
    {
        "id": "06bdd88c27979469",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 83,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d50026219891c29",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 84,
        "width": 2,
        "height": 1
    },
    {
        "id": "4b97271f6a939bcc",
        "type": "ui_spacer",
        "z": "123a360bc5d352e1",
        "name": "spacer",
        "group": "853d462e4b4b769e",
        "order": 85,
        "width": 15,
        "height": 1
    },
    {
        "id": "013c7bb04327f6b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "b8c7ac0cf61549cdbf366299ec2d5807.s1.eu.hivemq.cloud:8883",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "853d462e4b4b769e",
        "type": "ui_group",
        "name": "Our_DashBoard",
        "tab": "922544d4168ed5a2",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "922544d4168ed5a2",
        "type": "ui_tab",
        "name": "Sic_IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]